hr, p{
    margin-left: 15px; 
}
.header{
    margin-left: 15px;
}
.name{
    margin: 15px;
}

.radio{
    margin: 15px;
}
.add-info{
    margin: 15px;
}
.secret-word{
    margin: 15px;
}
.checked{
    margin: 15px;
}
.button{
    margin: 15px;
}